html, body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.app {
    height: 100%;
    width: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;  
}

.login-header{
    font-size: 30px;
    font-weight: 500;
}

.login-link-text{
    display: flex;
    margin-top: 20px;
}

.login-link{
    color: #0000EE;
    text-decoration: underline;
    margin-left: 5px;
}

.navbar{
    background-color: white;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.page-container{
    height: 91%;
}

.feed-outer-container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.feed-inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    background-color: rgb(181, 217, 255);
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 40px;
}

.create-post-container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
}

.post-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    overflow: scroll;
} 

.post-component {
    border-radius: 5px;
    background-color: white;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
}

.outer-profile-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.inner-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(173, 173, 245);
    height: 100%;
    width: 80%;
    padding: 40px;
    overflow: scroll;
}

.update-profile-info{
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 2px solid gray;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.post-info-post {
    display: flex;
    align-items: center;
}

.post-top-bar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.upvotedownvote-bar{
    display: flex;
    align-items: end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upvotedownvote{
    display: flex;
    align-items: center;
}

.upvotedownvotecount{
    margin-left: 5px;
    margin-right: 5px;
    font-size: large;
    font-weight: 600;
}

.navbar-link-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-user-info{
    display: flex;
    align-items: center;
}

.navbar-username{
    font-size: large;
    font-weight: 500;
}

.profile-page-username{
    font-weight: 500;
    font-size: x-large;
}

.profile-container-navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
}

.update-user-info-inner{
    width: 100%;
}

.user-post-inner{
    width: 100%;
}

.comment-component{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(238, 235, 235);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.comment-top-bar{
    display: flex;
    justify-content: space-between;
}

.comment-username {
    font-size: large;
    font-weight: 500;
}

.comment-body{
    margin-top: 10px;
}

.comment-user-info{
    display: flex;
    align-items: center;
}

.post-timestamp{
    margin-top: 5px;
    font-style: italic;
}

.user-comment-container{
    width: 100%;
}