html, body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.app {
    height: 100%;
    width: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;  
}

.login-header{
    font-size: 30px;
    font-weight: 500;
}

.login-link-text{
    display: flex;
    margin-top: 20px;
}

.login-link{
    color: #0000EE;
    text-decoration: underline;
    margin-left: 5px;
}

.navbar{
    background-color: red;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.page-container{
    height: 91%;
}

.feed-outer-container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.feed-inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    background-color: rgb(204, 204, 248);
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    padding: 10px;
}

.create-post-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
}

.post-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    border: 2px solid gray;
    padding: 10px;
    overflow: scroll;
}

.post-component {
    border-radius: 5px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
}