html, body {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

#root {
    height: 100%;
    width: 100%;
}

.app {
    height: 100%;
    width: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;  
}

.login-header{
    font-size: 30px;
    font-weight: 500;
}

.login-link-text{
    display: flex;
    margin-top: 20px;
}

.login-link{
    color: #0000EE;
    text-decoration: underline;
    margin-left: 5px;
}

.navbar{
    background-color: red;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}